{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!
{% endblock %}

{% block body %}
    <div class="image-container-header">
        <a href="{{ path('app_image_add') }}" class="interactive-gallery-component">Uploader une image</a>
    </div>
    <div class="image-container">

        {% for image in images %}
            {% if not image.deleted %}
                <form action="{{ path('app_image_detail') }}" method="post">
                    <input type="hidden" name="url" value="{{ image.url }}">
                    <input type="hidden" name="name" value="{{ image.name }}">
                    <div class="image-wrapper">
                        <input class="gallery-img" type="image" src="{{ image.url }}" alt="submit">
                        <div class="hover-content">{{ image.name }}</div>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
